{{#each posts}}
<div class="card w-90 mb-3">
    <a href="/api/post"></a>
    <input type="hidden" name="post-id" value="{{id}}">
    {{!-- <input type="hidden" name="comments-id" value="{{id}}"> --}}
    <h3 class="card-header">{{title}}</h3>
    <div class="card-body">
        <p class="post-content">{{content}}</p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
        <i><a href="/dashboard/add/{{id}}" id="add-comment" class="btn btn-success btn fas fa-sharp fa-solid fa-plus" type="submit"> Add Comment</a></i>
        <i><a href="/dashboard/view" id="view-comment" class="btn btn-secondary fas fa-solid fa-eye" type="submit"> View Comments</a></i>
        <h6 class="footer-content">Posted by: {{user.username}} on {{format_date createdAt}}</h6>
    </div>
</div>
{{/each}}

<script src="/js/comment.js"></script>